@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;

  .menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .hamburger {
    font-size: 24px;
  }

  .mobile-menu {
    display: none;
  }

  .web-menu {
    display: flex;
  }

  font-family: "Josefin Sans", sans-serif;

  .logo {
    display: flex;
    height: 80px;
    width: 80px;

    img {
      width: 100%;
      cursor: url(../images/sym599.png), auto;
    }
  }

  @media only screen and (max-width: 720px) {
    .mobile-menu {
      display: flex;
    }
    .web-menu {
      display: none;
    }
    .logo {
      height: 80px;
      width: 80px;

      img {
        width: 80%;
      }
    }
  }
}
