@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 48px;
}
