@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  flex-direction: row-reverse;
  //   background-color: lightyellow;
  //   margin-bottom: 36px;
  //   border-style: dotted;
  //   border-color: grey;
  //   border-width: 6px;
  //   border-radius: 8px;

  p {
    font-size: 20px;
    margin: 12px 0px;
  }
}

.project-image {
  width: 26%;
  margin-right: 36px;
}

.project-info {
  margin-right: 24px;
  //   background-color: rgba(255, 207, 77, 0.25);
  padding: 24px;
  // border-style: dotted;
  // border-color: grey;
  // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;  border-width: 6px;
  // border-radius: 8px;
}

// .project-info:hover {
//   // box-shadow: rgba(58, 55, 109, 0.2) 0px 60px 40px -7px;
//   box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px,
//     rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
//   border-radius: 8px;
//   background: rgba(249, 247, 254, 0.35);
// }

.project-info:hover {
  // box-shadow: rgba(58, 55, 109, 0.2) 0px 60px 40px -7px;
  box-shadow: rgb(0, 0, 0) -10px 10px;
  border: 2px solid black;
  background: rgba(249, 247, 254, 0.35);
}

.project-title {
  font-size: 26px;
  font-weight: bold;
}

.project-title:hover {
  cursor: url(../images/sym596.png), auto;
}

.project-tags {
  display: flex;
  max-width: 80%;
  flex-wrap: wrap;
}

.tag:hover {
  cursor: url(../images/sym598.png), auto;
} 

.tag {
  padding: 4px 8px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  color: black;
}

.project-links {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;

  a {
    text-decoration: none;
    color: white;
  }
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 164, 235);
  width: max-content;
  padding: 4px 8px;
  border-style: solid;
  border-color: rgb(255, 164, 235);
  border-radius: 4px;
  margin-right: 6px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: white;
    padding: 2px 2px;
  }

  a:hover {
    text-decoration: none;
    color: white;
    cursor: url(../images/sym599.png), auto;
  }
}

.link-button:hover {
  background-color: rgba(255, 164, 235, 0.5);
  cursor: url(../images/sym599.png), auto;
}

.github {
  height: 16px;
}

@media only screen and (max-width: 720px) {
  .project-image {
    width: 70%;
    margin-right: 0px;
  }
  .project-card {
    flex-direction: column-reverse;
  }
  .project-info {
    margin: 0px;
    margin-top: 12px;
    max-width: 100%;
    padding: 24px 36px;
  }

  .project-tags {
    max-width: 100%;
  }
}

.section-title,
projects {
  margin-top: 36px;
  cursor: url(../images/sym596.png), auto;
}
