.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //   padding-top: 24px;
}

.social-icon-div {
  padding: 6px;
  cursor: url(../images/sym599.png), auto;
  margin: 6px;
}

.social-icon {
  height: 40px;
}

.social-icon:last-child {
  padding-top: 12px;
}

@media only screen and (max-width: 720px) {
  .social-icon {
    height: 32px;
  }

  .social-icon-div {
    margin-top: -50px;
  }
}
