@import "components/__components";
@import "pages/__pages";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  background: linear-gradient(
    180deg,
    rgba(255, 244, 141, 0.2) 0%,
    rgba(255, 182, 154, 0.5) 50%,
    rgba(255, 89, 153, 0.8) 100%
  );
  background-color: white;
  // height: 100vh;
  // width: 100vw;

  .red-circle {
    width: 15vw;
    height: 15vw;
    background: rgb(255, 164, 235);
    filter: blur(5vw);
    border-radius: 50%;
    position: absolute;
    left: 8vw;
    top: 12vw;
    z-index: -1;
  }
  .green-circle {
    width: 15vw;
    height: 15vw;
    background: rgb(160, 242, 250);
    filter: blur(5vw);
    border-radius: 50%;
    position: absolute;
    left: 19vw;
    top: 12vw;
    z-index: -1;
  }
  .yellow-circle {
    width: 15vw;
    height: 15vw;
    background: rgb(255, 207, 77);
    filter: blur(5vw);
    border-radius: 50%;
    position: absolute;
    left: 16vw;
    top: 20vw;
    z-index: -1;
  }
  .blue-circle {
    width: 15vw;
    height: 15vw;
    background: rgb(31, 207, 207);
    filter: blur(5vw);
    border-radius: 50%;
    position: absolute;
    left: 22vw;
    top: 13vw;
    z-index: -5;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;

  // screens smaller than laptop
  @media only screen and(max-width: 1024px) {
    .page-home {
      width: 90%;
    }
  }
  // screens smaller than tablet
  @media only screen and(max-width: 512px) {
    .page-home {
      width: 100%;
    }
  }
}
